/* Reset
------------------------------------ */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
html,
input,
textarea {
  -webkit-font-smoothing: antialiased;
}
body {
  background: #333;
  color: #fff;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-family: "Grenze", serif;
  font-size: 150%;
  font-weight: 300;
  line-height: 1.25;
}
img {
  width: 100%;
}
svg {
  max-height: 100%;
}

/* Base
------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  padding: 20px;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
hr {
  margin: 20px;
  padding: 0;
  height: 1px;
  border: none;
  border-bottom: 1px solid #fff;
}

/* Links
------------------------------------ */
a {
  text-decoration: none;
  color: #cf3b3b;
  transition: color 0.2s ease;
  &:hover {
    color: #ea8b8b;
  }
}

/* Layout
------------------------------------ */
.nav-primary {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 0 20px;
  a {
    display: block;
    padding: 20px;
    &.nav-logo {
      font-weight: 900;
    }
  }
}
.logo {
  padding: 60px;
  margin: 0 auto;
}

.hero {
  background: transparent url("/images/cover-half.jpg") top center no-repeat;
  background-size: cover;
  padding: 6%;
  .hero-logo {
    opacity: 0.25;
  }
}
/* Section Blocks
------------------------------------ */
.section-blocks-container {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
}
.section-block {
  width: 50%;
}
.section-block-poem {
  background: #f9eadb;
  color: #cf3b3b;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Spacing Utilities
------------------------------------ */
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
