---
title: Home
---
.hero
  %h1.hero-logo
    = image_tag "bitty_brella_logo_red.png", alt: "Bitty Brella"
.section-blocks-container
  .section-block.section-block-poem
    %p
      a cafe on wheels <br>
      can go where it wants <br>
      but it wants to go <br>
      where you are
  .section-block
    = image_tag "/images/cart-red.jpg"